.item-form {
  .sheet-header,
  .sheet-navigation {
    flex: 0 0 30px;
    border-top: 0;
  }

  .sheet-header {
    margin-bottom: 10px;
  }

  .tab,
  .editor {
    height: 100%;
  }

  .tab.active[data-tab="description"] {
    display: flex;
    flex-direction: column;
  }

  .editor,
  .resource {
    flex: 0 auto;
    min-height: 60px;
  }

  .resource {
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}