.tabs {
  border-bottom: 1px solid;
  border-top: 0;

  .item {
    border: 1px solid;
    background: $c-navy-top;
    border-radius: 4px 4px 0 0;
    margin: 0 5px -1px;
    padding: 4px;
    line-height: 1.4;

    &:hover,
    &:focus {
      background: $c-light;
      text-shadow: none;
    }

    &.active {
      background: $c-white;
      color: $c-black;
      border-bottom: 0;
      text-shadow: none;
      font-weight: bold;
    }
  }
}