<form class="{{cssClass}}" autocomplete="off">

  <div class="sheet-wrapper">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
      <div class="sheet-header__fields">
        <input class="input--title" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
        <input class="input--title charclass" name="data.details.class" type="text" value="{{data.details.class}}" placeholder="Class"/>
        <div class="flex-item flex-item--level">
          <label for="data.atributes.level.value">{{ localize "DW.Level" }}</label>
          <input name="data.attributes.level.value" type="text" value="{{data.attributes.level.value}}" placeholder="Level" data-dtype="Number"/>
        </div>
        <div class="flex-item flex-item--xp">
          <label for="data.attributes.xp.value">{{ localize "DW.XP" }}</label>
          <input name="data.attributes.xp.value" type="text" value="{{data.attributes.xp.value}}" placeholder="XP" data-dtype="Number"/>
        </div>
      </div>
    </header>

    {{!-- Main --}}
    <section class="sheet-main">
      {{!-- Attributes --}}
      <section class="sheet-attributes">

        <div class="cell cell--damage">
          <label class="cell__title">{{localize "DW.Damage"}}</label>
          <input type="text" name="data.attributes.damage.value" value="{{data.attributes.damage.value}}" placeholder="e.g. 2d12+7" data-dtype="String"/>
        </div>

        <div class="cell cell--ac">
          <label class="cell__title">{{localize "DW.Armor"}}</label>
          <input type="text" name="data.attributes.ac.value" value="{{data.attributes.ac.value}}" data-dtype="Number"/>
        </div>

        <div class="cell cell--hp">
          <label for="data.attributes.hp.value" class="cell__title">{{localize "DW.HP"}}</label>
          <div class="cell__counter">
            <input type="text" name="data.attributes.hp.value" value="{{data.attributes.hp.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="data.attributes.hp.max" value="{{data.attributes.hp.max}}" data-dtype="Number"/>
          </div>
        </div>

      </section>

      {{!-- Sheet Body --}}
      <section class="sheet-body">

        {{!-- Main Tab --}}
        <label class="cell__title">{{localize "DW.Description"}}</label>
        {{!-- We're avoiding WYSIWYGs... for now... --}}
        {{!-- {{editor content=data.details.biography target="data.details.biography" button=true owner=owner editable=editable}} --}}
        <textarea class="biography" name="data.details.biography" rows="5" title="Hey there! Who are you!?"
                data-dtype="String">{{#if data.details.biography}}{{data.details.biography}}{{/if}}</textarea>
      </section>

    </section>

  </div>

</form>