<form>
  <div class="level-up">

    <header class="cell cell--description">
      <h1 class="cell__title">{{char_class_name}}</h1>
      {{#if blurb}}
        <div class="cell__description">{{{blurb}}}</div>
      {{/if}}
    </header>

    <div class="grid grid-2col">

      {{#if races}}
        <section class="cell cell--races">
          <h1 class="cell__title">Choose a race</h1>
          <ul class="selection-list">
            {{#each races as |race key|}}
              <li>
                <div class="selection-control">
                  <input type="radio" name="race-selection" data-race="{{../char_class}}.races.{{race.key}}">
                </div>
                <div class="selection-content">
                  <h2>{{race.label}}</h2>
                  <p>{{race.description}}</p>
                </div>
              </li>
            {{/each}}
          </ul>
        </section>
      {{/if}}

      {{#if alignments}}
        <section class="cell cell--alignments">
          <h1 class="cell__title">Choose an alignment</h1>
          <ul class="selection-list">
            {{#each alignments as |alignment key|}}
              <li>
                <div class="selection-control">
                  <input type="radio" name="alignment-selection" data-alignment="{{../char_class}}.alignments.{{alignment.key}}">
                </div>
                <div class="selection-content">
                  <h2>{{alignment.label}}</h2>
                  <p>{{alignment.description}}</p>
                </div>
              </li>
            {{/each}}
          </ul>
        </section>
      {{/if}}

    </div>

    {{#if starting_moves}}
      <section class="cell cell--starting_moves">
        <h1 class="cell__title">Choose starting moves</h1>
        <ul class="selection-list grid grid-2col">
          {{#each starting_moves as |move key|}}
            <li>
              <div class="selection-control">
                <input type="checkbox" checked data-item-id="{{move.data._id}}">
              </div>
              <div class="selection-content">
                <h2>{{move.data.name}}</h2>
                <div>{{{move.data.data.description}}}</div>
              </div>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}

      <section class="cell cell--advanced_moves">
        <h1 class="cell__title">Choose advanced moves</h1>
        {{#if advanced_moves_2}}
          <h2>When you gain a level from 2-5, choose from these moves.</h2>
          <ul class="selection-list grid grid-2col">
            {{#each advanced_moves_2 as |move key|}}
              <li>
                <div class="selection-control">
                  <input type="radio" name="move-selection" data-item-id="{{move.data._id}}">
                </div>
                <div class="selection-content">
                  <h2>{{move.data.name}}</h2>
                  <div>{{{move.data.data.description}}}</div>
                </div>
              </li>
            {{/each}}
          </ul>
        {{/if}}

        {{#if advanced_moves_6}}
          <h2>When you gain a level from 6-10, choose from these moves or the level 2-5 moves.</h2>
          <ul class="selection-list grid grid-2col">
            {{#each advanced_moves_6 as |move key|}}
              <li>
                <div class="selection-control">
                  <input type="radio" name="move-selection" data-item-id="{{move.data._id}}">
                </div>
                <div class="selection-content">
                  <h2>{{move.data.name}}</h2>
                  <div>{{{move.data.data.description}}}</div>
                </div>
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </section>

  </div>
</form>