<div class="chat-damage-buttons">
  <button type="button" class="button damage full-damage" title="Apply full damage to selected tokens."><i class="fas fa-user-minus"></i></button>
  <button type="button" class="button damage half-damage" title="Apply half damage to selected tokens."><i class="fas fa-user-minus"></i> 1/2</button>
  <button type="button" class="button damage double-damage" title="Apply double damage to selected tokens."><i class="fas fa-user-minus"></i> 2X</button>
  <button type="button" class="button heal heal-damage" title="Apply full healing to selected tokens."><i class="fas fa-user-plus"></i></button>
</div>