.sheet-attributes {
  display: grid;
  grid-column: span 16;
  grid-template-columns: repeat(16, minmax(0, 1fr));
  gap: 0px 10px;
  margin: 0 0 10px 0;
  padding: 0;

  .cell {
    text-align: center;

    > .cell__title {
      justify-content: center;

      .fas {
        margin-right: 5px;
      }
    }
  }

  .cell--abilities {
    text-align: left;

    > .cell__title {
      justify-content: flex-start;
    }
  }

  .cell {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;

    .cell__title {
      flex: 100%;
      background: $c-navy;
      color: $c-white;
      padding: $padding-sm;
      height: 34px;

      &.rollable:hover {
        background: $c-navy-up;
        cursor: pointer;
      }
    }
  }

  .cell__counter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .cell--damage {
    grid-column: span 4;

    .damage-inputs {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
    }

    select {
      flex: 1 1;
    }

    span {
      padding: 0 4px;
    }

    input {
      flex: 1 1;
    }
  }

  .cell--ac,
  .cell--hp,
  .cell--weight,
  .cell--coin {
    grid-column: span 3;
  }

  .encumbered {
    .cell__title {
      background: $c-orange;
      color: $c-white;

    }

    input[name="data.attributes.weight.value"] {
      color: $c-orange;
    }
  }

  .overencumbered {
    .cell__title {
      background: $c-red;
    }

    input[name="data.attributes.weight.value"] {
      color: $c-red;
    }
  }
}