.sheet-attributes {
  display: grid;
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 0;

  .cell {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding: 10px;

    .cell__title {
      flex: 100%;
      background: $c-navy;
      color: $c-white;
      padding: $padding-sm;
    }
  }

  .cell__counter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
}