.class {
  .items-list,
  .items-list .item {
    padding: 0;
    list-style-type: none;
  }

  .item + .item {
    border-top: 1px solid #ccc;
  }

  .drop-area {
    padding: 20px;
    border: 5px dashed rgba(0, 0, 0, 0.25);
    text-align: center;
  }

  .drop-hover {
    position: relative;

    &::before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.15);
    }
  }

  .equipment-group {
    display: flex;
    flex-direction: column;
  }

  .cell__title {
    flex: 0 0 48px;

    input[type="text"] {
      color: $c-white;
      font-family: $font-stack-secondary;
    }

    label {
      flex: 1;
    }

    select {
      color: $c-white;
      background: $c-navy-up;
      margin-right: 30px;
    }
  }

  .item-container {
    flex: 2;

    .tag {
      padding: 3px 25px 3px 6px;
    }
  }

  .resource--equipment-help {
    .class-controls {
      flex: 0 0 200px;
      margin-left: 10px;
    }
  }
}

.flexrow {
  align-items: center;

  .class-control {
    flex: 0;
    padding-left: 4px;
  }
}