.sidebar-tab {
  .directory-item--group {
    background: $c-navy-up;
    padding: 4px 10px;
    text-transform: uppercase;
  }

  .directory-list {
    .directory-item {
      .ct-item--img {
        flex: 0 0 32px;

        img {
          width: 50px;
          height: auto;
          margin: auto;
        }
      }
    }
  }

  .directory-list--dw {
    padding: 0;

    .directory-item {
      border-bottom: 1px solid rgba($c-black, 0.25);
      line-height: 1;
    }

    .ct-item {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  .ct-item--name {
    flex: 1;
  }

  .ct-item--hp,
  .ct-item--armor {
    flex: 0 0 32px;
  }

  .directory-item--labels {
    font-size: 12px;
    background: rgba($c-navy-up, 0.25);
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding: 4px 0;
  }
}

#combat-popout {
  width: 600px !important;
  height: auto !important;
}