&.dw-level-up {
  ul {
    padding: 0;
    margin: 0;
  }

  .selection-list {
    gap: 20px 10px;
    margin-bottom: 20px;
  }

  .selection-list li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 0 0 10px;
    list-style-type: none;
  }

  .selection-control {
    flex: 0 0 22px;
  }

  .selection-content {
    flex: 1;
  }

  .cell__description {
    font-style: italic;
    font-family: $font-stack-secondary;
    padding: 10px;
    margin: 10px;
    background: $c-light;
  }
}