// Character sheet tag display.
.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.tag {
  padding: 3px 6px;
  background: $c-light;
  color: $c-navy;
  margin: 5px 0;
  border-radius: 4px;
  text-transform: capitalize;

  + .tag {
    margin-left: 5px;
  }
}

// Tagging widget.
.tagging {
  padding: 5px 10px 8px;

  .tag {
    background-color: $c-navy-up;
    padding: 4px 22px 4px 6px;

    .tag-i {
      color: $c-white;

      &:hover,
      &:focus {
        color: $c-navy;
      }
    }

    > span {
      display: none;
    }

  }

  .tag-input {
    &:hover,
    &:focus {
      box-shadow: 0 1px 0 $c-navy-up;
    }
  }
}

.awesomplete {
  > ul {
    background-color: $c-navy-up;

    &::before {
      background-color: $c-navy-up;
    }
  }
}

.help-text {
  color: #999;
  font-size: 12px;
}