<form class="{{cssClass}} class item-form flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
        {{!-- <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/> --}}
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "DW.Common.Name"}}"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-navigation sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "DW.Common.Description" }}</a>
        <a class="item" data-tab="details">{{localize "DW.Common.Details" }}</a>
        <a class="item" data-tab="equipment">{{localize "DW.Equipment"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Details Tab --}}
        <div class="tab" data-group="primary" data-tab="details">
          <div class="class-fields grid grid-2col">
            {{!-- Races --}}
            <div class="cell resource">
              <div class="cell__title">
                <label>{{localize "DW.Races"}}</label>
                <a class="class-control" data-action="create" data-type="races"><i class="fas fa-plus"></i></a>
              </div>
              <ul class="items-list">
              {{#each data.races as |race id|}}
                <li class="item race" data-index="{{id}}">
                  <div class="flexrow">
                    <input type="text" class="input input--title" name="data.races.{{id}}.label" value="{{race.label}}" data-dtype="string"/>
                    <a class="class-control" data-action="delete" data-type="races"><i class="fas fa-trash"></i></a>
                  </div>
                  <textarea class="race" name="data.races.{{id}}.description" rows="5" title="What's your race?" data-dtype="String">{{race.description}}</textarea>
                </li>
              {{/each}}
              </ul>
            </div>
            {{!-- Alignments --}}
            <div class="cell resource">
              <div class="cell__title">
                <label>{{localize "DW.Alignments"}}</label>
                <a class="class-control" data-action="create" data-type="alignments"><i class="fas fa-plus"></i></a>
              </div>
              <ul class="items-list">
              {{#each data.alignments as |alignment id|}}
                <li class="item alignment" data-index="{{id}}">
                  <div class="flexrow">
                    <input type="text" class="input input--title" name="data.alignments.{{id}}.label" value="{{alignment.label}}" data-dtype="string"/>
                    <a class="class-control" data-action="delete" data-type="alignments"><i class="fas fa-trash"></i></a>
                  </div>
                  <textarea class="alignment" name="data.alignments.{{id}}.description" rows="5" title="What's your alignment?" data-dtype="String">{{alignment.description}}</textarea>
                </li>
              {{/each}}
              </ul>
            </div>
          </div>
        </div>

        <div class="tab" data-group="primary" data-tab="equipment">
          <div class="cell resource">
            <div class="cell__title">
              <label>Starting items</label>
            </div>
            <div class="item-container drop-area" data-group="starting">
              {{#if data.equipment.starting }}
                <ul class="tags">
                {{#each data.equipment.starting as |item key|}}
                  <li class="tag" data-item-id="{{item}}">{{renderItemField item 'data.name'}}</li>
                {{/each}}
                </ul>
              {{else}}
              <span>Drop items here</span>
              {{/if}}
            </div>
          </div>

          <div class="cell resource">
            <div class="cell__title">
              <label>Choose one, all are weight 0 for you</label>
            </div>
            <div class="item-container drop-area" data-group="choice-1">Drop items here</div>
          </div>
        </div>
    </section>
</form>
