$c-white: #fff;
$c-black: #000;

$c-navy: #2d3748;
$c-navy-up: #5b7094;
$c-navy-top: #bcc8de;
$c-light: #edf2f7;

$c-pink: #ffe9e9;

// $c-navy: #000;
// $c-navy-up: #999;
// $c-navy-top: #dedede;
// $c-light: #fff;

$ct-gray: rgba(0, 0, 0, 0.05);

$c-orange: #f78c01;
$c-red: #ca0000;